/* 顶部导航 -- start */
.nav_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #FFFFFF;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.icon_nav_left {
	width: 50px;
	min-width: 50px;
	height: 50px;
	background: url(../img/home_ui/nav_back.png) center no-repeat;
	background-size: 24px;
}
.nav_title {
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #1F1F1F;
}
.icon_nav_right {
	width: 50px;
	min-width: 50px;
	height: 50px;
}
.nav_header_hidden {
	height: 50px;
}
/* 顶部导航 -- end */
/* 主体区域 -- start */
.container {
	height: calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5f74fc+0,70a1fe+100 */
	background: #5f74fc; /* Old browsers */
	background: -moz-linear-gradient(top,  #5f74fc 0%, #70a1fe 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #5f74fc 0%,#70a1fe 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #5f74fc 0%,#70a1fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f74fc', endColorstr='#70a1fe',GradientType=0 ); /* IE6-9 */
}
.main_box {
	height: 100%;
	background: url(../img/people_ui/bg_jmxx.png) top no-repeat;
	background-size: 100%;
	overflow: auto;
}
/* 楼栋信息 */
.estate_title {
	padding: 25px 15px 0 15px;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	height: 36px;
	line-height: 36px;
}
.estate_sub_info {
	padding: 0 15px 10px 15px;
	font-size: 14px;
	color: #CEDCFF;
	height: 20px;
	line-height: 20px;
}
/* 居民信息 */
.data_grid {
	margin: 0 15px 20px 15px;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding-bottom: 20px;
	overflow: hidden;
}
.building_check {
	padding-top: 2px;
	padding-left: 18px;
	height: 48px;
	line-height: 48px;
	font-size: 20px;
	font-weight: 700;
	color: #2B63FF;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.icon_check {
	padding-left: 8px;
	width: 16px;
	min-width: 16px;
	height: 40px;
	background: url(../img/people_ui/icon_blue_down.png) center no-repeat;
	background-size: 10px;
}
.col_data {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	height: 46px;
	font-size: 14px;
	color: #1B2640;
}
.col_blue {
	background-color: #E5ECFF;
	height: 36px;
}
.col_item {
	text-align: center;
}
.col_1 {
	width: 35%;
}
.col_2_c {
	width: 25%;
	text-align: center;
}
.col_2 {
	width: 25%;
	text-align: left;
}
.col_3 {
	width: 40%;
}
