<!DOCTYPE html>
<html>
	<head>
		<!-- author：王朝贤 / createTime：2020年2月28日 -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>网格员</title>
		<!-- 引入 jquery-weui -->
		<link rel="stylesheet" type="text/css" href="../css/weui/weui.css" />
		<link rel="stylesheet" type="text/css" href="../css/jqweui/jquery-weui.css">
		<link rel="stylesheet" type="text/css" href="../css/grid_info.css" />
		<style type="text/css">
			body,
			html {
				height: 100%;
				margin: 0;
				padding: 0;
				-webkit-tap-highlight-color: transparent;
				background-color: #F7F7F7;
				position: relative;
			}

			/* 超出单行显示省略号 */
			.line_ellipsis {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		</style>
	</head>
	<body ontouchstart>
		<div class="nav_header">
			<div class="icon_nav_left" onclick="fnGoBack()"></div>
			<div class="nav_title">网格员</div>
			<div class="icon_nav_right"></div>
		</div>
		<div class="nav_header_hidden">
		</div>
		<div class="container" id="container">
			<div class="main_box">
				<div class="estate_title">
					十堰经济技术开发区
				</div>
				<div class="estate_title estate_title_1">
					二机电一生活区治理小网格组织构架
				</div>
				<div class="estate_sub_info">
					白浪街道马路社区 (党组织书记胡云霞 13329859981)
				</div>
				<template v-for="(data, di) in dataList">
					<div class="data_grid">
						<div class="building_check">
							{{data.ld}}
						</div>
						<!-- 网格党小组 -->
						<div class="grid_item_title">
							<div class="icon_grid"></div>
							<div class="grid_title_text">网格党小组</div>
						</div>
						<div class="col_data col_blue">
							<div class="col_item col_1">姓名</div>
							<div class="col_item col_2">职称</div>
						</div>
						<template v-for="(grid, gridi) in data.gridList">
							<template v-if="gridi % 2 == 0">
								<div class="col_data">
									<div class="col_item col_1">{{grid.name}}</div>
									<div class="col_item col_2">{{grid.job}}</div>
								</div>
							</template>
							<template v-else>
								<div class="col_data col_blue">
									<div class="col_item col_1">{{grid.name}}</div>
									<div class="col_item col_2">{{grid.job}}</div>
								</div>
							</template>
						</template>
						<div class="under_line"></div>
						<!-- 楼栋长 -->
						<div class="grid_item_title">
							<div class="icon_grid"></div>
							<div class="grid_title_text">楼栋长</div>
						</div>
						<div class="col_data col_blue">
							<div class="col_item col_2_1">姓名</div>
							<div class="col_item col_2_2">联系方式</div>
							<div class="col_item col_2_3">地址</div>
						</div>
						<template v-for="(zyz, zyzi) in data.ldzList">
							<template v-if="zyzi % 2 == 0">
								<div class="col_data">
									<div class="col_item col_2_1">{{zyz.name}}</div>
									<div class="col_item col_2_2">{{zyz.phone}}</div>
									<div class="col_item col_2_3">{{zyz.addr}}</div>
								</div>
							</template>
							<template v-else>
								<div class="col_data col_blue">
									<div class="col_item col_2_1">{{zyz.name}}</div>
									<div class="col_item col_2_2">{{zyz.phone}}</div>
									<div class="col_item col_2_3">{{zyz.addr}}</div>
								</div>
							</template>
						</template>
						<div class="under_line"></div>
						<!-- 志愿者 -->
						<div class="grid_item_title">
							<div class="icon_grid"></div>
							<div class="grid_title_text">志愿者</div>
						</div>
						<template v-for="(ldz, ldzi) in data.zyzList">
							<template v-if="ldzi % 2 == 0">
								<div class="col_data col_blue">
									<div class="col_item col_1">{{ldz.name}}</div>
									<div class="col_item col_2">{{ldz.phone}}</div>
								</div>
							</template>
							<template v-else>
								<div class="col_data">
									<div class="col_item col_1">{{ldz.name}}</div>
									<div class="col_item col_2">{{ldz.phone}}</div>
								</div>
							</template>
						</template>
						<div class="under_line"></div>
					</div>
				</template>
			</div>
		</div>
		<script type="text/javascript" src="../js/url.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/vue.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/grid_data.json" charset="utf-8"></script>
		<script type="text/javascript" src="../js/jquery-1.12.4-min.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/fastclick.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				FastClick.attach(document.body);
			})
		</script>
		<script type="text/javascript" src="../js/jqweui/jquery-weui.min.js" charset="utf-8"></script>
		<script type="text/javascript">
			
			// 初始化双向绑定模型
			var vue = new Vue({
				el: '#container',
				data: {
					dataList: dataList
				},
				methods: {
				}
			});
			
			$(function() {
				
			});
			
			// 返回
			function fnGoBack(){
				window.top.history.back();
			}

			// 获取企业信息
			function fnGetEnterpriseInfo() {
				$.showLoading();
				var url = mHost + mServerName + "/EntInfo/getEntInfo";
				var params = {
					ID: entInfo.ID
				}
				console.log("=== === >> 参数：" + JSON.stringify(params));
				$.ajax({
					type: "get",
					url: url,
					contentType: 'application/x-www-form-urlencoded',
					data: params,
					dataType: "jsonp",
					success: function(result) {
						$.hideLoading();
						if (result.state != undefined && result.state == true) {
							
						} else {
							// 失败
							$.toast("失败！", 'cancel');
						}
					},
					error: function(jqXHR, textStatus) {
						$.hideLoading();
						$.toast("服务异常！", 'cancel')
					}
				});
			}
		</script>
	</body>
</html>
