<!DOCTYPE html>
<html>
	<head>
		<!-- author：王朝贤 / createTime：2020年2月28日 -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>网格员</title>
		<!-- 引入 jquery-weui -->
		<link rel="stylesheet" type="text/css" href="../css/weui/weui.css" />
		<link rel="stylesheet" type="text/css" href="../css/jqweui/jquery-weui.css">
		<link rel="stylesheet" type="text/css" href="../css/grid_info.css" />
		<style type="text/css">
			body,
			html {
				height: 100%;
				margin: 0;
				padding: 0;
				-webkit-tap-highlight-color: transparent;
				background-color: #F7F7F7;
				position: relative;
			}

			/* 超出单行显示省略号 */
			.line_ellipsis {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		</style>
	</head>
	<body ontouchstart>
		<div class="nav_header">
			<div class="icon_nav_left" onclick="fnGoBack()"></div>
			<div class="nav_title">网格员</div>
			<div class="icon_nav_right"></div>
		</div>
		<div class="nav_header_hidden">
		</div>
		<div class="container" id="container">
			<div class="main_box">
				<div class="estate_title">
					十堰经济技术开发区
				</div>
				<div class="estate_title estate_title_1">
					二机电一生活区治理小网格组织构架
				</div>
				<div class="estate_sub_info">
					白浪街道马路社区 (党组织书记胡云霞 13222328786)
				</div>
				<div class="data_grid">
					<div class="building_check">
						13号楼
					</div>
					<!-- 网格党小组 -->
					<div class="grid_item_title">
						<div class="icon_grid"></div>
						<div class="grid_title_text">网格党小组</div>
					</div>
					<div class="col_data col_blue">
						<div class="col_item col_1">姓名</div>
						<div class="col_item col_2">职称</div>
					</div>
					<template v-for="(item, index) in dataList1">
						<template v-if="index % 2 == 0">
							<div class="col_data">
								<div class="col_item col_1">{{item.name}}</div>
								<div class="col_item col_2">{{item.job}}</div>
							</div>
						</template>
						<template v-else>
							<div class="col_data col_blue">
								<div class="col_item col_1">{{item.name}}</div>
								<div class="col_item col_2">{{item.job}}</div>
							</div>
						</template>
					</template>
					<div class="under_line"></div>
					<!-- 楼栋长 -->
					<div class="grid_item_title">
						<div class="icon_grid"></div>
						<div class="grid_title_text">楼栋长</div>
					</div>
					<div class="col_data col_blue">
						<div class="col_item col_1">赵鲜华</div>
						<div class="col_item col_2">13477348712</div>
					</div>
					<div class="under_line"></div>
					<!-- 志愿者 -->
					<div class="grid_item_title">
						<div class="icon_grid"></div>
						<div class="grid_title_text">志愿者</div>
					</div>
					<div class="col_data col_blue">
						<div class="col_item col_2_1">姓名</div>
						<div class="col_item col_2_2">联系方式</div>
						<div class="col_item col_2_3">地址</div>
					</div>
					<template v-for="(item, index) in dataList2">
						<template v-if="index % 2 == 0">
							<div class="col_data">
								<div class="col_item col_2_1">{{item.name}}</div>
								<div class="col_item col_2_2">{{item.phone}}</div>
								<div class="col_item col_2_3">{{item.addr}}</div>
							</div>
						</template>
						<template v-else>
							<div class="col_data col_blue">
								<div class="col_item col_2_1">{{item.name}}</div>
								<div class="col_item col_2_2">{{item.phone}}</div>
								<div class="col_item col_2_3">{{item.addr}}</div>
							</div>
						</template>
					</template>
					<div class="under_line"></div>
				</div>
				<div class="data_grid">
					<div class="building_check">
						14号楼
					</div>
					<!-- 网格党小组 -->
					<div class="grid_item_title">
						<div class="icon_grid"></div>
						<div class="grid_title_text">网格党小组</div>
					</div>
					<div class="col_data col_blue">
						<div class="col_item col_1">姓名</div>
						<div class="col_item col_2">职称</div>
					</div>
					<template v-for="(item, index) in dataList1">
						<template v-if="index % 2 == 0">
							<div class="col_data">
								<div class="col_item col_1">{{item.name}}</div>
								<div class="col_item col_2">{{item.job}}</div>
							</div>
						</template>
						<template v-else>
							<div class="col_data col_blue">
								<div class="col_item col_1">{{item.name}}</div>
								<div class="col_item col_2">{{item.job}}</div>
							</div>
						</template>
					</template>
					<div class="under_line"></div>
					<!-- 楼栋长 -->
					<div class="grid_item_title">
						<div class="icon_grid"></div>
						<div class="grid_title_text">楼栋长</div>
					</div>
					<div class="col_data col_blue">
						<div class="col_item col_1">赵鲜华</div>
						<div class="col_item col_2">13477348712</div>
					</div>
					<div class="under_line"></div>
					<!-- 志愿者 -->
					<div class="grid_item_title">
						<div class="icon_grid"></div>
						<div class="grid_title_text">志愿者</div>
					</div>
					<div class="col_data col_blue">
						<div class="col_item col_2_1">姓名</div>
						<div class="col_item col_2_2">联系方式</div>
						<div class="col_item col_2_3">地址</div>
					</div>
					<template v-for="(item, index) in dataList2">
						<template v-if="index % 2 == 0">
							<div class="col_data">
								<div class="col_item col_2_1">{{item.name}}</div>
								<div class="col_item col_2_2">{{item.phone}}</div>
								<div class="col_item col_2_3">{{item.addr}}</div>
							</div>
						</template>
						<template v-else>
							<div class="col_data col_blue">
								<div class="col_item col_2_1">{{item.name}}</div>
								<div class="col_item col_2_2">{{item.phone}}</div>
								<div class="col_item col_2_3">{{item.addr}}</div>
							</div>
						</template>
					</template>
					<div class="under_line"></div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/url.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/vue.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/jquery-1.12.4-min.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/fastclick.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				FastClick.attach(document.body);
			})
		</script>
		<script type="text/javascript" src="../js/jqweui/jquery-weui.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/city-picker.js" charset="utf-8"></script>
		<script type="text/javascript">
			
			// 初始化双向绑定模型
			var vue = new Vue({
				el: '#container',
				data: {
					dataList1: [{
						name: '赵鲜华',
						job: '信业物业公司'
					},{
						name: '杨光',
						job: '白浪街办干部'
					},{
						name: '王晓琳',
						job: '13号楼居民'
					}],
					dataList2: [{
						name: '王晓琳',
						phone: '15234722889',
						addr: '1单元101室'
					}, {
						name: '张孝祥',
						phone: '15234722889',
						addr: '1单元201室'
					}, {
						name: '雁南飞',
						phone: '15234722889',
						addr: '2单元601室'
					}]
				},
				methods: {
				}
			});
			
			$(function() {
				
			});
			
			// 返回
			function fnGoBack(){
				window.history.back();
			}

			// 获取企业信息
			function fnGetEnterpriseInfo() {
				$.showLoading();
				var url = mHost + mServerName + "/EntInfo/getEntInfo";
				var params = {
					ID: entInfo.ID
				}
				console.log("=== === >> 参数：" + JSON.stringify(params));
				$.ajax({
					type: "get",
					url: url,
					contentType: 'application/x-www-form-urlencoded',
					data: params,
					dataType: "jsonp",
					success: function(result) {
						$.hideLoading();
						if (result.state != undefined && result.state == true) {
							
						} else {
							// 失败
							$.toast("失败！", 'cancel');
						}
					},
					error: function(jqXHR, textStatus) {
						$.hideLoading();
						$.toast("服务异常！", 'cancel')
					}
				});
			}
		</script>
	</body>
</html>
