<!DOCTYPE html>
<html>
	<head>
		<!-- author：王朝贤 / createTime：2020年2月28日 -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>居民信息</title>
		<!-- 引入 jquery-weui -->
		<link rel="stylesheet" type="text/css" href="../css/weui/weui.css" />
		<link rel="stylesheet" type="text/css" href="../css/jqweui/jquery-weui.css">
		<link rel="stylesheet" type="text/css" href="../css/peoples_info.css" />
		<link rel="stylesheet" type="text/css" href="../css/iosSelect.css">
		<style type="text/css">
			body,
			html {
				height: 100%;
				margin: 0;
				padding: 0;
				-webkit-tap-highlight-color: transparent;
				background-color: #F7F7F7;
				position: relative;
			}

			/* 超出单行显示省略号 */
			.line_ellipsis {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		</style>
	</head>
	<body ontouchstart>
		<div class="nav_header">
			<div class="icon_nav_left" onclick="fnGoBack()"></div>
			<div class="nav_title">居民信息</div>
			<div class="icon_nav_right"></div>
		</div>
		<div class="nav_header_hidden">
		</div>
		<div class="container" id="container">
			<div class="main_box">
				<div class="estate_title">
					十堰市白浪小区
				</div>
				<div class="estate_sub_info">
					小区总计{{ldList.length}}栋楼，7层，4单元，一单元2户
				</div>
				<div class="data_grid">
					<div class="building_check" @click="fnChangeLd()">
						{{ld}}号楼
						<div class="icon_check"></div>
					</div>
					<div class="col_data col_blue">
						<div class="col_item col_1">房号</div>
						<div class="col_item col_2_c">姓名</div>
						<div class="col_item col_3">联系方式</div>
					</div>
					<template v-for="(item, index) in dataList">
						<template v-if="index % 2 == 0">
							<div class="col_data">
								<div class="col_item col_1">{{item.dyxx}}-{{item.lcxx}}-{{item.mh}}</div>
								<div class="col_item col_2_c">{{item.xm}}</div>
								<div class="col_item col_3">{{item.lxdh==null?'--':item.lxdh}}</div>
							</div>
						</template>
						<template v-else>
							<div class="col_data col_blue">
								<div class="col_item col_1">{{item.dyxx}}-{{item.lcxx}}-{{item.mh}}</div>
								<div class="col_item col_2_c">{{item.xm}}</div>
								<div class="col_item col_3">{{item.lxdh==null?'--':item.lxdh}}</div>
							</div>
						</template>
					</template>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/url.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/vue.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/jquery-1.12.4-min.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/fastclick.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				FastClick.attach(document.body);
			})
		</script>
		<script type="text/javascript" src="../js/jqweui/jquery-weui.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/iosSelect.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/iosSelect/select1.option.js" charset="utf-8"></script>
		<script type="text/javascript">
			// 楼栋信息
			var ldList = [];
			// 初始化双向绑定模型
			var vue = new Vue({
				el: '#container',
				data: {
					ldList: [],
					ld: '',
					dataList: [{},{},{},{},{},{},{},{},{},{},{},{}]
				},
				methods: {
					fnChangeLd: fnChangeLd
				}
			});
			
			$(function() {
				// 获取楼栋信息
				fnGetLdInfo();
			});
			
			// 选择楼栋
			function fnChangeLd(){
				setTimeout(function(){
					oneOptionId = vue.$data.ld;
					getOptionId(oneOptionId, function(checkOption) {
						vue.$data.ld = checkOption.firstOptionId;
						fnGetPeoplesInfo();
					});
				}, 500);
			}
			
			// 返回
			function fnGoBack(){
				window.top.history.back();
			}
			
			// 获取楼栋信息
			function fnGetLdInfo() {
				$.showLoading();
				var url = mHost + mServerName + "/SQGL/getLouDongList";
				var params = {
				}
				console.log("=== === >> 参数：" + JSON.stringify(params));
				$.ajax({
					type: "get",
					url: url,
					contentType: 'application/x-www-form-urlencoded',
					data: params,
					dataType: "jsonp",
					success: function(result) {
						$.hideLoading();
						if (result.state != undefined && result.state == true) {
							ldList = result.ldList;
							vue.$data.ldList = ldList;
							firstOptions = [];
							for(var i=0; i<ldList.length; i++){
								var item = ldList[i];
								var c = {'id': item, 'value': item+'号楼', 'parentId': '0'}
								firstOptions.push(c);
							}
							vue.$data.ld = ldList[0];
							fnGetPeoplesInfo()
						} else {
							// 失败
							$.toast("失败！", 'cancel');
						}
					},
					error: function(jqXHR, textStatus) {
						$.hideLoading();
						$.toast("服务异常！", 'cancel')
					}
				});
			}
			
			// 获取楼栋人员信息
			function fnGetPeoplesInfo() {
				$.showLoading();
				var url = mHost + mServerName + "/SQGL/getSingelLDRYXXList";
				var params = {
					ld: vue.$data.ld
				}
				console.log("=== === >> 参数：" + JSON.stringify(params));
				$.ajax({
					type: "get",
					url: url,
					contentType: 'application/x-www-form-urlencoded',
					data: params,
					dataType: "jsonp",
					success: function(result) {
						$.hideLoading();
						if (result.state != undefined && result.state == true) {
							var data = result.ldzhList;
							vue.dataList = [];
							vue.dataList = data;
						} else {
							// 失败
							$.toast("失败！", 'cancel');
						}
					},
					error: function(jqXHR, textStatus) {
						$.hideLoading();
						$.toast("服务异常！", 'cancel')
					}
				});
			}
		</script>
	</body>
</html>
