<!DOCTYPE html>
<html>
	<head>
		<!-- author：王朝贤 / createTime：2020年3月9日 -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=yes,email=no,date=no,address=no">
		<title>疫情防控志愿者值班表</title>
		<!-- 引入 jquery-weui -->
		<link rel="stylesheet" type="text/css" href="../css/weui/weui.css" />
		<link rel="stylesheet" type="text/css" href="../css/jqweui/jquery-weui.css">
		<link rel="stylesheet" type="text/css" href="../css/vol_duty_info.css?v=1" />
		<style type="text/css">
			body,
			html {
				height: 100%;
				margin: 0;
				padding: 0;
				-webkit-tap-highlight-color: transparent;
				background-color: #F7F7F7;
				position: relative;
			}

			/* 超出单行显示省略号 */
			.line_ellipsis {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.hidden_box {
				display: none;
			}
		</style>
	</head>
	<body ontouchstart>
		<div class="nav_header">
			<div class="icon_nav_left" onclick="fnGoBack()"></div>
			<div class="nav_title">志愿者值班表</div>
			<div class="icon_nav_right"></div>
		</div>
		<div class="nav_header_hidden">
		</div>
		<div class="container" id="container">
			<div class="main_box">
				<div class="estate_title estate_title">
					{{estateName}}
				</div>
				<div class="volunteer_bar">
					<div class="volunteer_box">
						<div class="left_box">
							<div class="item_line_ld v_duty_item_blue">楼栋号</div>
							<template v-for="(ld, index) in ldList">
								<div class="item_line_ld" :class="index%2==1?'v_duty_item_blue':''">{{ld}}</div>
							</template>
						</div>
						<div class="right_box" id="swiperId">
							<template v-for="(vol, index) in dataList">
								<div class="v_duty_item">
									<div class="v_duty_line v_duty_item_blue">
										<div class="vol_name">{{vol.dutyDate}}</div>
									</div>
									<template v-for="(item, m) in vol.dutyInfo">
										<div class="v_duty_line" :class="m%2==1?'v_duty_item_blue':''">
											<div class="vol_name">{{item.duty_user}}</div>
											<div class="icon_vol_num" @click="fnCallTel(item.duty_user_num)"></div>
										</div>
									</template>
								</div>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden_box">
			<a href="" id="callId">1</a>
		</div>
		<script type="text/javascript" src="../js/url.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/vue.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/jquery-1.12.4-min.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/fastclick.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				FastClick.attach(document.body);
			})
		</script>
		<script type="text/javascript" src="../js/jqweui/jquery-weui.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/showData.js" charset="utf-8"></script>
		<script type="text/javascript">
			// 初始化双向绑定模型
			var vue = new Vue({
				el: '#container',
				data: {
					estateName: '志愿者值班表',
					ldList: [13,14,15,16,17,18,19,20,25,26],
					dataList: showData
				},
				methods: {
					fnCallTel : fnCallTel
				}
			});
			
			$(function() {
				// 获取楼栋信息
				// fnGetLdInfo();
				var h = (vue.ldList.length+1) * 40;
				console.log("=== === >> "+h);
				$("#swiperId").css("height", h);
			});
			
			// 拨打电话
			function fnCallTel(callNo){
				if(callNo == '--'){
					return;
				}
				$("#callId").attr("href", "tel:"+callNo);
				$("#callId")[0].click();
			}
			
			// 选择楼栋
			function fnChangeLd(){
				setTimeout(function(){
					oneOptionId = vue.$data.ld;
					getOptionId(oneOptionId, function(checkOption) {
						vue.$data.ld = checkOption.firstOptionId;
						fnGetPeoplesInfo();
					});
				}, 500);
			}
			
			// 返回
			function fnGoBack(){
				window.top.history.back();
			}
			
			// 获取楼栋信息
			function fnGetLdInfo() {
				$.showLoading();
				var url = mHost + mServerName + "/SQGL/getLouDongList";
				var params = {
				}
				console.log("=== === >> 参数：" + JSON.stringify(params));
				$.ajax({
					type: "get",
					url: url,
					contentType: 'application/x-www-form-urlencoded',
					data: params,
					dataType: "jsonp",
					success: function(result) {
						$.hideLoading();
						if (result.state != undefined && result.state == true) {
							ldList = result.ldList;
							vue.$data.ldList = ldList;
							firstOptions = [];
							for(var i=0; i<ldList.length; i++){
								var item = ldList[i];
								var c = {'id': item, 'value': item+'号楼', 'parentId': '0'}
								firstOptions.push(c);
							}
							vue.$data.ld = ldList[0];
							fnGetPeoplesInfo()
						} else {
							// 失败
							$.toast("失败！", 'cancel');
						}
					},
					error: function(jqXHR, textStatus) {
						$.hideLoading();
						$.toast("服务异常！", 'cancel')
					}
				});
			}
			
			// 获取楼栋人员信息
			function fnGetPeoplesInfo() {
				$.showLoading();
				var url = mHost + mServerName + "/SQGL/getSingelLDRYXXList";
				var params = {
					ld: vue.$data.ld
				}
				console.log("=== === >> 参数：" + JSON.stringify(params));
				$.ajax({
					type: "get",
					url: url,
					contentType: 'application/x-www-form-urlencoded',
					data: params,
					dataType: "jsonp",
					success: function(result) {
						$.hideLoading();
						if (result.state != undefined && result.state == true) {
							var data = result.ldzhList;
							vue.dataList = [];
							vue.dataList = data;
						} else {
							// 失败
							$.toast("失败！", 'cancel');
						}
					},
					error: function(jqXHR, textStatus) {
						$.hideLoading();
						$.toast("服务异常！", 'cancel')
					}
				});
			}
		</script>
	</body>
</html>
